figures/plots
fmri/PPI/gPPI
behavioural_analysis/questionnaires
behavioural_analysis/data_prep.m
figures/AET_plots.R
behavioural_analysis/AET_mixed_models.R
behavioural_analysis/glmm_output
behavioural_analysis/.RData
behavioural_analysis/.Rapp.history
behavioural_analysis/.Rhistory
data/behavioural/mri/mvc_summary_mri.csv
data/behavioural/mri/behav_summary_mri.csv
data/behavioural/mri/behav_summary_M1_mri.csv
data/behavioural/mri/questionnaire_results_mri.csv
data/behavioural/mri/questionnaire_results_key.csv
data/behavioural/v1/mvc_summary_v1.csv
data/behavioural/v1/behav_summary_v1.csv
data/behavioural/v1/behav_summary_M1_v1.csv
data/behavioural/v1/AET_questionnaire_results_v1.csv
data/behavioural/v3/mvc_summary_v3.csv
data/behavioural/v3/behav_summary_v3.csv
data/behavioural/v3/behav_summary_M1_v3.csv
data/behavioural/v3/AET_questionnaire_results_v3.csv